canvas {
  image-rendering: crisp-edges;
  width: 500px;
  height: 500px;
}

table,
#editor {
  min-width: 300px;
}
code {
  font-family: Consolas, "courier new";
  color: crimson;
  padding: 2px;
  font-size: 50%;
}

hr {
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .main {
  font-family: "Press Start 2P", cursive;
  font-size: calc(20px + 2vmin);
  line-height: 0;
}
.App-header .sub {
  font-family: "Press Start 2P", cursive;
  font-size: calc(2vmin);
  line-height: 0;
}

.App-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.App-content > div.controls {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(5px + 1vmin);
  padding: 10px;
  box-sizing: border-box;
}

.controls > div {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.controls .sliders {
  width: 100%;
  text-align: left;
}

.App-content > div {
  flex: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
