canvas {
  image-rendering: crisp-edges;
  width: 500px;
  height: 500px;
  padding-right: 10px;
  background-color: black;
}

a,
a:visited,
a:hover > .main {
  color: white;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  padding: 2px;
  font-size: 50%;
}

hr {
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .main {
  font-family: "Press Start 2P", cursive;
  font-size: calc(20px + 2vmin);
  line-height: 0;
}

.App-header .about {
  font-size: calc(5px + 1.5vmin);
}

section {
  max-width: 80vw;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

section.footer {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  justify-content: space-between;
  flex-direction: row;
}

section p {
  margin: 0.5em;
}

i {
  color: hotpink;
}

section ol,
ul {
  max-width: 50%;
  text-align: left;
  margin: 1em 0;
}

section li {
  padding: 0.5em 0;
}

section li:first-child,
section h3 {
  padding: 0 0 0.5em 0;
  margin: 0;
}

section a,
section a:visited,
section a:active {
  color: hotpink;
  text-decoration: underline;
}

em {
  font-weight: bold;
  color: hotpink;
  display: block;
  padding: 1em 0;
  font-size: calc(5px + 1vmin);
  font-style: normal;
}

em::before {
  content: " NOTE: ";
  font-style: italic;
}

nav > *,
.sub {
  font-family: "Press Start 2P", cursive;
  font-size: calc(2vmin);
  line-height: 0;
  margin: 0px 10px;
}

nav {
  display: flex;
  justify-content: start;
  width: 100%;
}

.App-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.App-content > div {
  padding: 10px;
}

.App-content > div.controls {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  font-size: calc(5px + 1vmin);
  box-sizing: border-box;
  text-align: left;
}

.controls > div {
  width: 100%;
}

.file-uploader {
  margin: 10px 0px;
}

.controls .sliders {
  width: 100%;
  text-align: left;
}

.sliders label {
  margin: 1em 0;

  display: block;
}

.controls {
  flex: 1 0 200px;
}
.views {
  flex: 1 0 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.editor-container {
  width: 100%;
  flex: 1 1 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
